@media (min-width: 576px) {
      .jumbotron {
        padding: 1rem 2rem;
      }
    }
    .errdiv {
      color: red;
      font-weight: bold;
    }

    label {
      margin-bottom: 0;
    }

    .tdaction {
      width: 15%;
    }

    .tdSr {
      width: 7%;
    }

    .jumbotron {
      margin-bottom: 0.5rem;
    }

    strong {
      font-size: 24px !important;
    }

    input.largerCheckbox {
      width: 20px;
      height: 20px;
    }